@import 'var&mixin.scss';

main{
    max-width: 1600px;
    height: 861px;
    margin: 8px auto;
    // background-color: white;
    background-color: white;
    display: flex;
    justify-content: space-around;

    .area_apenas_shortcuts{
        width: 55%;
        height: 700px;
        background-color: #202020; // ou isto ou branco
        margin: 10px;
        border: 1px solid grey;

        .area_shortcuts{
            width: 80%;
            background-color: #202020;
            height: 220px;
            margin: 65px auto;
            margin-top: 40px;

            border-radius: 8px;

            .area_titulo_shortcuts{
                width: 100%;
                height: 50px;
                display: flex;
                align-items: center; // Verticalmente
                justify-content: left ; // Horizontalmente
                h2{
                    border-bottom: 1px solid;
                    // border-bottom-width: 5px;
                    color: white;
                    margin-top: 12px;
                    font-weight: 500;
                    margin-left: 15px;
                    font-size: 1.25em;
                }
            }

            ul{
                width: 100%;

                li{
                    width: calc(100% - 30px);
                    line-height: 32px;
                    margin: 15px;
                    margin-left: 10px;
                    font-size: 1.2em;
                    color: white;
                    
                    &:hover{
                        color: $themeColor;
                        cursor: pointer;
                    }

                    i{
                        font-size: 1.1em;
                        width: 7%;
                        color: rgb(44, 96, 100);
                    }

                }
            }
        }

    }

    .area_central{
        width: 100%;
        margin: 10px;

        .abpetimeline{
            width: 100%;
            height: 300px;

            .area_background_perfil{
                width: calc(100% - 2px);
                height: 200px;
                border: 1px solid grey;

                .bPitself{
                    width: 100%;
                    height: 200px;
                    overflow: hidden;

                    img{
                        width: 100%;
                        height: auto;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                }

                .pPicItself{
                    width: 129px;
                    height: 115px;
                    position: relative;
                    bottom: 58%;
                    // border-radius: 50%;
                    margin: 0 auto;

                    img{
                        width: 100%;
                        height: 125px;
                        background-size: cover;
                        border-radius: 50%;
                        background-color: #202020;
                        
                        &:hover{
                            cursor: pointer;
                            transform: scale(1.07);

                        }

                    }
                }

                div.botao_follow{
                    width: 129px;
                    height: 115px;
                    position: relative;
                    bottom: 74%;
                    left: 46%;
                    margin: 0 auto;
                    // background-color: green;

                    button{
                        // width: 58%;
                        font-size: 1.1em ;
                        // background-color: rgb(59, 181, 230);
                        border-radius: 8px;
                        // border: 1;
                        font-family: $LDFont;
                        font-weight: 500;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
            }
            
            .aUsernameBioFollowers{
                width: calc(100% - 2px);
                height: 100px;
                background-color: white;
                border: 1px solid grey;
           
                .aUsernameh2{
                    width: 100%;
                    margin: 12px auto;
                    margin-bottom: 5px;
                    height: 30px;
                    // background: green;
                    text-align: center;
                    display: flex;
                    justify-content: center;

                    .aUserNameAndVerified{
                        width: 100%;
                        margin: 0 auto;
                        display: flex;
                        justify-content: center;
                        h2{
                            font-size: 1.2em;
                            font-weight: lighter;
    
                            span{
                                font-weight: 500;
    
                            }
                        }

                        div.area_verified{
                            width: 5%;
                            height: 30px;
                            margin: 5px 0px 0px 0px;
                            // background-color: orchid;
                            float: left;
    
                            i{
                                font-size: 18px;
                                color: #0048BA;
                            }
                        }
                    }

                   

                   
                }

               

                .aFf{
                    width: 100%;
                    // height: 55px;
                    // background: aquamarine;
                    display: flex;
                    justify-content: space-around;
                    text-align: center;
                    p{
                        font-weight: 500;
                        font-size: 1.2em;

                        span{
                        font-weight: lighter;

                        }
                    }
                }
            }
        }

        .atimeline_about_groups_images{
            width: calc(100% - 2px);
            // height: 490px;
            margin: 20px auto;
            // background-color: red;
            border: 1px solid grey;
            


            .area_header{
                width: 100%;
                height: 65px;
                background-color: white;
                // background-color: #202020;

                ul{
                    width: 100%;
                    height: 65px;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;

                    li{
                        font-size: 1.1em;
                        // font-weight: 500;

                        &:hover{
                            cursor: pointer;
                            color: $themeColor;
                            font-weight: 500;
                        }
                    }
                }
            }

            .area_informacao_childRouting{
                width: 100%;
                height: 425px;
                margin: 10px auto;
                overflow-y: scroll;
                background-color: #202020;


                &::-webkit-scrollbar {
                    width: 0;
                    display: none;  /* Removes scrollbar space but keeps functionality */
                }
            }
        }

    }

    .area_similar_and_users{
        width: 55%;
        height: 700px;
        background-color: white;
        margin: 10px;
        border: 1px solid grey;

        .asagSimilar{
            width: 80%;
            height: 230px; // Este height depois sai quando tiver informação para meter aqui
            background-color: #202020;
            margin: 15px auto;
            margin-top: 40px;
            border-radius: 8px;

            .area_titulo_asagSimilar{
                width: 100%;
                border-radius: 8px;
                display: flex;
                justify-content: left;
                
                h2{
                    border-bottom: 1px solid;
                    color: white;
                    margin-top: 12px;
                    font-weight: 500;
                    margin-left: 15px;
                    font-size: 1.25em;
                }
            }

        }

        .asagUsers{
            width: 80%;
            height: 350px; 
            background-color: #202020;
            margin: 15px auto;
            margin-top: 40px;
            border-radius: 8px;

            .area_titulo_asagUsers{
                width: 100%;
                border-radius: 8px;
                display: flex;
                justify-content: left;
                
                h2{
                    border-bottom: 1px solid;
                    color: white;
                    margin-top: 12px;
                    font-weight: 500;
                    margin-left: 15px;
                    font-size: 1.25em;
                }
            }

        }

        ul{
            width: 100%;
            height: 50px;
            margin: 5px auto;
            background: green;

            li{
                line-height: 25px;
            }
        
        }


    }
}


.rotaClickada{
    // background-color: rgba(255,255,255, 0.3);
    border-bottom: 2px solid $themeColor;
}


.desapareceBotao{
    display: none;

}

.area_user{
    width: 95%;
    height: 55px;
    margin: 15px auto;
    background: $themeColor;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 10px;

    &:hover{
        cursor: pointer;
        background-color: #555555c5;
    }

}

.imagem_user_post{
    width: 45px;
    // height: 65px;
    margin: 8px;
    // background-color: blue;
    overflow: hidden;
    display: flex;
    align-items: center;

    img{
       width: 100%;
       height: 40px;
       border-radius: 50%;
       object-fit: fill;
       border: 1px solid $themeColor;
    }
}

.nome_user_post{
    width: calc(90% - 40px);
    height: 55px;
    text-align: center;
    display: flex;
    align-items: center;
    // background-color: blue;


    h3{
        color: white;
        font-size: 1.03em;
        font-weight: 500;
        margin-top: 12px;
        display: flex;
        align-items: center; 

        span{
            margin-left: 5px;
        }
    }
}