<app-header> </app-header>


<main>
    <section class="area_grupos_equipas"> 

        <div class="area_grupos">
            <div class="area_titulo_area_grupo">
                <h2> Groups </h2>
            </div>

            <ul>
                <!-- Ver como blockear o ngFor para apenas 5 registos -->
                <li> Cada registo até um máximo de 5 por exemplo </li>
            </ul>

        </div>

        <!-- Em vez de área equipas aqui posso colocar shortcuts tal como tenho no newsfeed component -->

        <!-- <div class="area_equipas">

        </div> -->

    </section>

    <section class="area_central">

        <!-- Esta div que contém as outras é a area background perfil + timeline -->
        <div class="abpetimeline">

            <div class="area_background_perfil">
                <div class="bPitself">
                    <img src="{{imagemBackground}}">
                    
                </div>
    
                <div class="pPicItself">
                    <img src="{{imagemTeste}}">
                </div>    
                
                <div class="botao_follow">
                    <button *ngIf="CantFollowMyself" (click)="followUser()"> Follow </button>
                </div>
            </div>

            <div class="aUsernameBioFollowers">
                <div class="aUsernameh2">
                    <div class="aUserNameAndVerified">
                        <h2> {{firstName}} <span> @{{username}} </span> {{lastName}}  </h2>
                        <div class="area_verified" *ngIf="userIsVerified"> <i class="fas fa-check"></i> </div>
                    </div>
                    
                </div>
                


                <!-- Area onde esta os followers e followings e bio -->
                <div class="aFf">

                    <p>Followers <br> <span> {{numFollowers}} </span> </p>

                    <p> {{smallBio}} <br> <span> {{location}} </span> </p>
                    
                    <p>Following <br> <span> {{numFollowing}} </span> </p>
                    
                </div>

            </div>

        </div>

        <div class="atimeline_about_groups_images">   
            <div class="area_header">
                <ul>
                    <!-- Child Routing -->
                    <li (click)="showTimeline()" [ngClass]="{rotaClickada: timelineClicked === true}"> Timeline </li> 
                    <li (click)="showAboutComponent()" [ngClass]="{rotaClickada: aboutClicked === true}"> About </li> 
                    <li (click)="showFollowersComponent()" [ngClass]="{rotaClickada: followersClicked === true}"> Followers </li> 
                    <li (click)="showFollowingComponent()" [ngClass]="{rotaClickada: followingClicked === true}"> Following </li> 

                </ul>
                
            </div>

            <div class="area_informacao_childRouting">

                <router-outlet></router-outlet>

            </div>

        </div>


    </section>

    <section class="area_similar_and_users">

        <div class="asagSimilar">
            <div class="area_titulo_asagSimilar">
                <h2> Similar users</h2>
            </div>

            <ul>
                <!-- <li *ngFor="let item of list | slice:0:10; let i=index" class="dropdown-item" (click)="onClick(item)">{{item.text}}</li> -->
                <!-- https://stackoverflow.com/questions/37818677/how-can-i-limit-ngfor-repeat-to-some-number-of-items-in-angular -->
                <!-- Ver como blockear o ngFor para apenas 5 registos -->
                <li> Cada registo até um máximo de 5 por exemplo </li>
            </ul>

        </div>

        <div class="asagUsers">
            
            <div class="area_titulo_asagUsers">
                <h2> Following Users</h2>
            </div>

            <article class="area_quem_postou">
                <!-- Imagem do user que fez o post, firstname, username e last name , um *ngIf para mostrar se é verificado ou não   e a data do post que foi criado -->
                <div class="imagem_user_post">
                    <img src="{{imagemTeste}}" alt="">
                </div>

                
                <div class="nome_user_post">
                    <h3> Pedro "@movieLover" Marques <span *ngIf="userIsVerified"> <i class="fas fa-check"></i> </span>  </h3>
                </div>
                
            </article>  
            
            <article class="area_quem_postou">
                <!-- Imagem do user que fez o post, firstname, username e last name , um *ngIf para mostrar se é verificado ou não   e a data do post que foi criado -->
                <div class="imagem_user_post">
                    <img src="{{imagemTeste}}" alt="">
                </div>
                
                <div class="nome_user_post">
                    <h3> Pedro "@movieLover" Marques <span *ngIf="userIsVerified"> <i class="fas fa-check"></i> </span>  </h3>
                </div>
                
            </article>   

        </div>

    </section>
  

</main>