<app-header> </app-header>

<main>

    <section class="area_apenas_shortcuts"> 

        <div class="area_shortcuts">

            <div class="area_titulo_shortcuts">
                <h2> Shortcuts </h2>
            </div>

            <ul>
                <li routerLink="/newsfeed"> <i class="fas fa-rss"></i>  Newsfeed </li>
                <li routerLink="/world"> <i class="fas fa-globe-europe"></i>  World </li>
                <li routerLink="/settings"> <i class="fas fa-cog"></i>  Settings </li>
            </ul>

        </div>

    </section>

    <!-- <section class="area_filters">

        <div class="caixa_child_routes">
            <ul>
                <li (click)="showUsersFilter()" [ngClass]="{usersClicked: usersRouteClicked === true}"> <span> Users </span>  </li>
                <li (click)="showPostsFilter()" [ngClass]="{usersClicked: postsRouteClicked === true}"> <span> Posts </span> </li>
            </ul>
        </div>

    </section> -->

    <section class="area_world">

        <div class="caixa_filters">
            <div class="area_formulario">
                <form>
                    <div class="cadaForm">
                        <label for="searchId"> Search user </label>
                        <input id="searchId" type="text"
                        (keyup)="pesquisarUsername()"
                        #userName>
                    </div>
                </form>
                
                <!-- Estou aqui -->
                
            </div>

        </div>

        <div class="area_child_routing">
            
            <div class="area_resultados">

                <article (click)="goToUserProfile(eachUser.user_id)" class="area_quem_postou" *ngFor="let eachUser of usersFoundArray">
                    <!-- Imagem do user que fez o post, firstname, username e last name , um *ngIf para mostrar se é verificado ou não   e a data do post que foi criado -->
                    <div class="imagem_user_post">
                        <img *ngIf="eachUser.user_image" src="{{imagesPath + eachUser.user_image}}" alt="{{eachUser.username}}" title="{{eachUser.username}}">
                        <img *ngIf="!eachUser.user_image" src="{{imagemDefault}}" alt="{{eachUser.username}}" title="{{eachUser.username}}">

                    </div>
                    
                    <div class="nome_user_post">
                        <h3> {{eachUser.first_name}} @{{eachUser.username}} {{eachUser.last_name}}
                             <span *ngIf="eachUser.is_verified"> <i class="fas fa-check"></i> </span> 
                             </h3>
                    </div>
                    
                </article>  
                
                <article *ngIf="noUsersFound" class="no_users_found">
                    <p> No users found </p>
                </article>

                <!-- <router-outlet></router-outlet> -->

            </div>

        </div>

    </section>

</main>