<app-header> </app-header>

<main>

    <section class="area_apenas_shortcuts"> 

        <div class="area_filters">
            <div class="caixa_child_routes">
                <ul>
                    <li (click)="showUsersFilter()" [ngClass]="{usersClicked: usersRouteClicked === true}"> <span> Users </span>  </li>
                    <li (click)="showPostsFilter()" [ngClass]="{usersClicked: postsRouteClicked === true}"> <span> Posts </span> </li>
                </ul>
            </div>
        </div>

        <div class="area_shortcuts">

            <div class="area_titulo_shortcuts">
                <h2> Shortcuts </h2>
            </div>

            <ul>
                <li routerLink="/newsfeed"> <i class="fas fa-rss"></i>  Newsfeed </li>
                <li (click)="goToConnectedUserPage()"> <i class="fas fa-user-alt"></i>  Profile  </li>
                <li routerLink="/settings"> <i class="fas fa-cog"></i>  Settings </li>
            </ul>

        </div>

      

    </section>

    <section class="area_world">

        <div class="area_child_routing">
            
            <div class="area_resultados">

                <router-outlet></router-outlet>

            </div>

        </div>

    </section>

</main>