@import 'var&mixin.scss';


main{
    max-width: 1600px;
    height: 861px;
    margin: 8px auto;
    background-color: #202020;
    display: flex;
    justify-content: space-around;

    section.area_filters{
        width: 42%;
        background-color: white;
        margin: 10px;

        div.caixa_child_routes{
            width: 85%;
            background: white;
            height: 150px;
            margin: 15px auto;
            border-radius: 8px;

            ul{
                width: 100%;
                height: 150px;

                li{
                    width: 100%;
                    height: 75px;
                    text-align: center;
                    font-size: 1.2em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 8px;


                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }


    }
    
    section.area_world{
        width: 100%;
        // height: 800px;
        background-color: white;
        margin: 10px;
        

        .caixa_filters{
            width: 100%;
            height: 90px;

            div.area_formulario{
                width: 100%;
                height: 90px;
                display: flex;
                justify-content: center;
                align-items: center;
                // background-color: dodgerblue;
                
                form{
                    font-family: 'Noto Sans', sans-serif;

                    label{
                        margin-right: 10px;
                        font-size: 17px;
                    }

                    input{
                        width: 70%;
                        height: 23px;
                        border: 1;
                    }
                }
                
            }
        }

        .area_child_routing{
            width: 100%;
            height: 700px;
            display: flex;
            justify-content: center;
            overflow-y : scroll;
    
            &::-webkit-scrollbar {
                width: 0;
                display: none;  /* Remove scrollbar space */
            }

            article.area_quem_postou{
                width: 90%;
                height: 100px;
                margin: 25px auto;
                background-color: #202020;

                display: flex;
                justify-content: left;
                align-items: center;
                border-radius: 5px;

                &:hover{
                    cursor: pointer;
                }
            
                div.imagem_user_post{
                    width: 80px;
                    // height: 65px;
                    margin: 8px;
                    // background-color: blue;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
            
                    img{
                       width: 100%;
                       height: 75px;
                       border-radius: 50%;
                       object-fit: fill;
                    //    border: 1px solid $themeColor;
                    }
                }
            
                div.nome_user_post{
                    width: 80%;
                    height: 55px;
                    text-align: center;
                    // background-color: aquamarine;   
            
                    h3{
                        color: white;
                        font-size: 1.2em;
                        font-weight: 500;
                        margin-top: 12px;
                        display: flex;
                        align-items: center; 
            
                        span{
                            margin-left: 5px;
                        }
                    }
                }
            }

            .area_resultados{
                width: 100%;
                // height: 400px;
                margin: 35px auto;
                // background-color: green;

            }
        }
    }


}


// Classes li's

.usersClicked{
    background-color: rgb(207, 207, 207);
    // border: 1px solid grey;

}
