<main>

    <section class="overview" *ngFor="let eachFollower of userFollowersArray">

        <article class="area_follower" (click)="goToFollowerProfile(eachFollower.user_following)">
            <div class="imagem_user_follower">
                <img *ngIf="eachFollower.user_image" src="{{imagesPath + eachFollower.user_image}}" alt="">
                <img *ngIf="!eachFollower.user_image" src="{{imagemDefault}}" alt="">
            </div>

            
            <div class="nome_user_follower">
                <h3> {{eachFollower.first_name}} @{{eachFollower.username}} {{eachFollower.last_name}} </h3>
            </div>
            
        </article>
        

    </section>

    <article class="noFollowers" *ngIf="userFollowersArray.length <= 0">
        <h4> No Users to display </h4>
    </article>
   

</main>