<main>
    <div class="background" (click)="fecharModal()"></div>

    <section class="area_scrolling">

        <div class="alert-box">

            <article class="posts_carregados">
                
                <div class="area_quem_postou">
                    <div class="imagem_user_post">
                        <img src="{{imagesPath + postInfo.user_image}}" alt="">
                    </div>
                    
                    <div class="nome_user_post">
                        <h3 (click)="goToUserPage(postInfo.user_id)"> {{postInfo.first_name}} @{{postInfo.username}} {{postInfo.last_name}} </h3>
                    </div>
    
                </div>
    
                <div class="area_conteudo_desse_post">
    
                    <div class="area_post_created">
                            <p> Posted {{postInfo.created_at | date: 'MMMM d, y, \'at\' h\'h\'mm'}} </p> 
                    </div>
    
                    <div class="area_content_post">
                        {{postInfo.content}}  
                    </div>
                </div>
    
                <div class="area_likes_comments">
                    <ul>
    
                        <li (click)="likePost(postInfo.post_id)">
                                <i *ngIf="postInfo.isLiked === false" class="far fa-heart"></i>
                                <i *ngIf="postInfo.isLiked === true" class="fas fa-heart"></i>
                            <span> {{postInfo.likesNumber}} </span>
                        </li>
                        
                        <li (click)="openComment()">

                             <i *ngIf="postInfo.isCommented === false" class="far fa-comment"></i> 
                             <i *ngIf="postInfo.isCommented === true" class="fas fa-comment"></i> 
                             
                             <span> {{postInfo.commentsNumber}} </span> 

                        </li>
                        <!-- Click abrir modal -->
                        <!-- Este li tb vai ter um routerLink para o post/:id do post-->
                    </ul>
    
                </div>
                
            </article>


            <article *ngIf="userWantsToComment" class="new_comment">
                <div class="area_comentario">
                    
                    <form [formGroup]="commentForm" (ngSubmit)="postComment(commentForm.value)">
                        <label for="newComment"></label>
                        <textarea 
                        id="newComment" 
                        placeholder="Write a comment"
                        formControlName="comment_content"
                        ></textarea>
                        <div class="area_botao_comment">
                            <button type="submit"> Comment </button>
                        </div>
                    </form>
                    
                </div>
            </article>


            <article *ngIf="userWantsToEdit" class="new_comment">
                <div class="area_comentario">
                    
                    <form [formGroup]="commentForm" (ngSubmit)="editComment(commentForm.value)">
                        <label for="newComment"></label>
                        <textarea
                        id="newComment" 
                        [placeholder]="commentContentToEdit"
                        formControlName="comment_content"
                        ></textarea>
                        <div class="area_botao_comment">
                            <button type="submit"> Edit Comment </button>
                        </div>
                    </form>
                    
                </div>
            </article>
    
            <!-- Area Comments -->
    
            <article class="comments_carregados" *ngFor="let eachComment of commentsArray">
    
                <div class="area_quem_comentou">
                    <div class="imagem_user_comment">
                        <img src="{{imagesPath + eachComment.user_image}}" alt="">
                    </div>
                    
                    <div class="nome_user_comment">
                        <h3 (click)="goToUserPage(eachComment.user_id)"> {{eachComment.first_name}} @{{eachComment.username}} {{eachComment.last_name}} </h3>
                    </div>

                    <div *ngIf="eachComment.user_id === connectedUserId" class="area_edit_delete">
                        <li (click)="openEditBox(eachComment.comment_id, eachComment.content)" title="Edit"> <i class="fas fa-edit"></i> </li>
                        <li (click)="deleteComment(eachComment.comment_id)" title="Delete"> <i class="fas fa-trash"></i> </li>
                    </div>
    
                </div>
    
                <div class="area_conteudo_desse_comment">
    
                    <div class="area_comment_created">
                            <p> Posted {{eachComment.created_at | date: 'MMMM d, y, \'at\' h\'h\'mm'}} </p>
                    </div>
    
                    <div  class="area_content_comment">
                        {{eachComment.content}}
                    </div>

                </div>
    
            </article>


            <article class="noComments" *ngIf="messageNotFound">
                <h4> No Comments to display. Comment something! </h4>
            </article>
                
        </div>

    </section>

   
    
</main>