@import 'var&mixin.scss';


main{
    max-width: 1600px;
    height: 861px;
    margin: 8px auto;


    .background{
        width: 100vw;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        background: rgba(0,0,0,0.75);
        z-index: 50;
    }

    section.area_scrolling{
        
        .alert-box{
            position: absolute;
            width: 40vw;
            height: 85vh;
            left: 30vw;
            top: 7%; 
            padding: 16px;
            z-index: 100;
            border-radius: 7px;
            box-shadow: 0 2px 8px rgba(0,0,0,0.26);
            transition: width 0.7s;
            background: white;
           overflow-y : scroll;
    
        &::-webkit-scrollbar {
            width: 0;
            display: none;  /* Remove scrollbar space */
        }
        
            .alert-box-options{
                text-align: right;
        
                button{
                    font-size: 1.2em;
                    border-radius: 7px;
        
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
    
            article.posts_carregados{
                width: 80%;
                background-color: white;
                margin: 20px auto;
                border-radius: 3px;
                border: 1px solid $themeColor;
                
    
                div.area_quem_postou{
                    width: 100%;
                    height: 55px;
                    // background: green;
                    display: flex;
                    justify-content: left;
                    align-items: center;
    
                    div.imagem_user_post{
                        width: 55px;
                        // height: 65px;
                        margin: 8px;
                        // background-color: blue;
                        overflow: hidden;
                        display: flex;
                        align-items: center;
    
                        img{
                           width: 100%;
                           height: 50px;
                           border-radius: 50%;
                             object-fit: fill;
                             border: 1px solid $themeColor;
                        }
                    }
    
                    div.nome_user_post{
                        width: 50%;
                        height: 55px;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        // background-color: orange;   
    
                        h3{
                            color: $themeColor;
                            font-weight: 500;
                            margin-top: 12px;
                            display: flex;
                            align-items: center; 
    
                            span{
                                margin-left: 5px;
                            }
    
                            &:hover{
                                cursor: pointer;
                            }
                        }
                    }
                }
    
                div.area_conteudo_desse_post{
                    width: 100%;
                    // display: flex;
                    display: block;
    
    
                    .area_post_created{
                        width: 90%;
                        // height: 200px;
                        margin: 5px auto;
                        // background-color: orchid;
    
                        p{
                            font-size: 0.85em;
                        }
                    }
    
                    .area_content_post{
                        width: 90%;
                        margin: 15px auto;
                        line-height: 23px;
                        margin-bottom: 1px;
                        // margin
                        // Perguntar ao Ivo como manter os parágrafos originalmente adicionados pelo user
                        // background-color: green;
                    }
                           
                }
    
                div.area_likes_comments{
                    width: 90%;
                    // height: 50px;
                    margin: 10px auto;
                    // background-color: orchid;
    
                    ul{
                        width: 100%;
                        display: flex;
                        justify-content: left;
    
                        li{
                            margin: 15px 0px;
                            margin-left: 5px;
                            margin-right: 70px;
                            font-size: 22px;
                            color: rgb(134, 23, 23);
    
    
                            span{
                                font-size: 12px;
                            
                            }
    
                            &:hover{
                                cursor: pointer;
                            }
                        }
    
                        
                    }
                }
            }
    
            article.comments_carregados{
                width: 80%;
                // background-color: orchid;
                margin: 20px auto;
                border-radius: 3px;
                border: 1px solid $themeColor;
    
    
                div.area_quem_comentou{
                    width: 100%;
                    height: 55px;
                    // background: green;
                    display: flex;
                    justify-content: left;
                    align-items: center;
    
                    div.imagem_user_comment{
                        width: 55px;
                        // height: 65px;
                        margin: 8px;
                        // background-color: blue;
                        overflow: hidden;
                        display: flex;
                        align-items: center;
    
                        img{
                           width: 100%;
                           height: 50px;
                           border-radius: 50%;
                             object-fit: fill;
                             border: 1px solid $themeColor;
                        }
                    }
    
                    div.nome_user_comment{
                        width: 50%;
                        height: 55px;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        // background-color: orange;   
    
                        h3{
                            color: $themeColor;
                            font-weight: 500;
                            margin-top: 12px;
                            display: flex;
                            align-items: center; 
    
                            span{
                                margin-left: 5px;
                            }
    
                            &:hover{
                                cursor: pointer;
                            }
                        }
                    }
                }
    
                div.area_conteudo_desse_comment{
                    width: 100%;
                    // display: flex;
                    display: block;
    
    
                    .area_comment_created{
                        width: 90%;
                        // height: 200px;
                        margin: 5px auto;
                        // background-color: orchid;
    
                        p{
                            font-size: 0.85em;
                        }
                    }
    
                    .area_content_comment{
                        width: 90%;
                        margin: 15px auto;
                        line-height: 23px;
                        margin-bottom: 1px;
                        // margin
                        // Perguntar ao Ivo como manter os parágrafos originalmente adicionados pelo user
                        // background-color: green;
                    }
                           
                }
            }
        
            div.a_imagem{
                margin-left: -15px;
                
                img{
                    border-radius: 7px;
                    width: calc(100% - 40px);
                    float: left;
                    margin: 0 20px;
                }
        
            }
        
        }

    }

    .noComments{
        width: 92%;
        background-color: white;
        margin: 20px auto;
        border-radius: 3px;
        // border: 1px solid $themeColor;
    }

}

