@import 'var&mixin.scss';


main{
   max-width: 1250px;
   margin: 50px auto;
   border-radius: 7px;
   position: relative;
     

   section.area_principal{
      width: 100%;
      height: 300px;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 7px;
      margin: 15px auto;
      margin-top: -10px;
      border: 1px solid transparent;

      .area_titulo{
         width: 70%;
         height: 50px;
         margin: 0 auto;
         margin-top: 55px;
         text-align: center;
         font-family: $LDFont;


         h3{
            font-size: 1.9em;   
            font-family: $LDFont;
            font-weight: 500;
            color: white;     
         }

         p{
            width: 100%;
            height: 40px;
            margin-top: 22px;
            font-size: 1.4em;
            color: white;
         }
      }

      .area_botao{
         width: 70%;
         height: 50px;
         margin: 0 auto;
         margin-top: 55px;
         text-align: center;

         button{
            font-size: 1em;
            height: 30px;
            background-color: rgba(56, 56, 56, 0.877);
            border-radius: 5px;
            font-family: $LDFont;
            color: white;
   
            &:hover{
               cursor: pointer;
            }
   
         }
      }

    
            
   }

   @include responsive (tablet) {
      font-size: 62.5%;
   }

   @include responsive (mobile) {
      font-size: 45.5%;
   }

}