<main>

    <section class="area_apenas_shortcuts"> 

        <div class="area_shortcuts">

            <div class="area_titulo_shortcuts">
                <h2> Shortcuts </h2>
            </div>

            <ul>
                <li routerLink="/newsfeed"> <i class="fas fa-rss"></i>  Newsfeed </li>
                <!-- <li (click)="goToConnectedUserPage()"> <i class="fas fa-user-alt"></i>  Profile  </li> -->
                <li routerLink="/settings"> <i class="fas fa-cog"></i>  Settings </li>
            </ul>

        </div>

      

    </section>

</main>