<app-header> </app-header>

<main>

    <app-comment-modal
    *ngIf="commentModalAberto"
    (closeModal)="fecharModal()"
    [postId]="postId">
    </app-comment-modal>

    <section class="area_apenas_shortcuts"> 

        <div class="area_shortcuts">

            <div class="area_titulo_shortcuts">
                <h2> Shortcuts </h2>
            </div>

            <ul>
                <li routerLink="/newsfeed"> <i class="fas fa-rss"></i>  Newsfeed </li>
                <!-- <li (click)="goToConnectedUserPage()"> <i class="fas fa-user-alt"></i>  Profile  </li> -->
                <li routerLink="/settings"> <i class="fas fa-cog"></i>  Settings </li>
            </ul>

        </div>

    </section>

    <section class="area_central"> 

        <div class="area_post">

            <article class="posts_carregados">

                <div class="area_quem_postou">
                    <div class="imagem_user_post">
                        <img *ngIf="userImage" src="{{imagesPath + userImage}}" alt="">
                        <img *ngIf="!userImage" src="{{imagemDefault}}" alt="username}}" title="{{username}}">
                    </div>

                    <div (click)="goToUserPage(postOwnerId)" class="nome_user_post">
                        <h3> {{firstName}} @{{username}} {{lastName}} 
                            <span *ngIf="isVerified === '1'"> <i class="fas fa-check"></i> </span>  
                        </h3>
                    </div>
                    
                    <div *ngIf="postOwnerId === connectedUserId" class="area_edit_delete">
                        <li (click)="openEditPostBox()" title="Edit"> <i class="fas fa-edit"></i> </li>
                        <li (click)="deletePost()"  title="Delete"> <i class="fas fa-trash"></i> </li>
                    </div>

                </div>
        
                <div class="area_conteudo_desse_post">
                    <div class="area_post_created">
                            <p> Posted {{createdAt | date: 'MMMM d, y, \'at\' h\'h\'mm'}} </p> 

                    </div>
        
                    <div *ngIf="!vouEditarPost" class="area_content_post">
                        {{postContent}}
                    </div>

                    <div *ngIf="vouEditarPost" class="postContentReplacer area_content_post">
                        <textarea 
                        rows="5" 
                        cols="0" 
                        autofocus 
                        placeholder="{{postContent}}"
                        #editPostContent></textarea>

                        <button (click)="editPost()"> Edit </button>
                    </div>
        
                </div>
        
                <div class="area_likes_comments">
                    <ul>
                        <li (click)="likePost()">
                            <i *ngIf="isLiked === false" class="far fa-heart"></i>
                            <i *ngIf="isLiked === true" class="fas fa-heart"></i>
                            <span> {{likesNumber}} </span>
                        </li>
                        
                        <li (click)="abrirCommentModal()"> 
                            <i *ngIf="isCommented === false" class="far fa-comment"></i> 
                            <i *ngIf="isCommented === true" class="fas fa-comment"></i> 
                            <span> {{commentsNumber}}</span>
                         </li>

                    </ul>
        
                </div>
                
            </article>

        </div>

        <article *ngIf="userWantsToEdit" class="new_comment">
            
            <div class="area_comentario">
                <form>
                    <label for="newComment"></label>
                    <textarea
                    id="newComment" 
                    [placeholder]="commentContentToEdit"
                    #commentContent
                    ></textarea>
                    <div class="area_botao_comment">
                        <button (click)="editComment()" type="button"> Edit Comment </button>
                    </div>
                </form>         
            </div>

        </article>


        <div class="area_comment">

            <article class="comments_carregados" *ngFor="let eachComment of commentsArray">
    
                <div class="area_quem_comentou">
                    <div class="imagem_user_comment">
                        <img src="{{imagesPath + eachComment.user_image}}" alt="">
                    </div>
                    
                    <div class="nome_user_comment">
                        <h3 (click)="goToUserPage(eachComment.user_id)"> {{eachComment.first_name}} @{{eachComment.username}} {{eachComment.last_name}}
                            <span *ngIf="eachComment.is_verified === '1'"> <i class="fas fa-check"></i> </span>  
                        </h3>
                    </div>

                    <div *ngIf="eachComment.user_id === connectedUserId" class="area_edit_delete">
                        <li (click)="openEditBox(eachComment.comment_id, eachComment.content)" title="Edit"> <i class="fas fa-edit"></i> </li>
                        <li (click)="deleteComment(eachComment.comment_id)" title="Delete"> <i class="fas fa-trash"></i> </li>
                    </div>
                    
                </div>
    
                <div class="area_conteudo_desse_comment">
    
                    <div class="area_comment_created">
                            <p> Posted {{eachComment.created_at | date: 'MMMM d, y, \'at\' h\'h\'mm'}} </p>
                    </div>
    
                    <div  class="area_content_comment">
                        {{eachComment.content}}
                    </div>

                </div>
    
            </article>

            <article class="noComments" *ngIf="commentsNotFound">
                <h4> No Comments to display. Comment something! </h4>
            </article>

        </div>
        
    </section>

</main>