<main>

    <div class="overview">
        <!-- Este <p> vai conter a bigBio do user que está conectado, 
        vai ser usado o numero que está no snapshot do Url Angular
        (Como se fosse no php) -->
        <p> Hello my name is  Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Nesciunt adipisci omnis minima hic facere aliquid totam numquam. Repellat, asperiores. 
        Dignissimos fugit dolorum nostrum rerum sequi blanditiis! Similique velit cum magnam! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente labore atque eveniet beatae in error nostrum libero inventore pariatur est. Dolorum iste ipsa quod modi cupiditate harum voluptatem, eum vero?</p>

    </div>

</main>