<app-header> </app-header>

<main>

    <app-post-modal 
    *ngIf="postModalAberto"
    [postModal]="postModalAberto"
    [postInfo]="postLoaded"
    (closeModal)="fecharModal()"
    [postsArray]="allPostsArray"
    >
    </app-post-modal>
    
    <section class="area_perfil_shortcuts">

        <div class="area_perfil">
            <div class="background_picture">
                <div class="area_background_pic">
                    <img *ngIf="userBackgroundImage" src="{{imagesPath + userBackgroundImage}}" alt="">
                    <img *ngIf="!userBackgroundImage" src="{{imagemDefault}}" alt="">
                </div>

                <div class="area_profile_picture">
                    <img *ngIf="userProfileImage" src="{{imagesPath + userProfileImage}}" alt="">
                    <img *ngIf="!userProfileImage" src="{{imagemDefault}}" alt="">
                </div>

            </div>

            <div class="username_and_followers">

                <div class="name_and_username">
                    <p> {{firstName}} <span> {{username}} </span> {{lastName}} </p>
                        <div class="area_verified" *ngIf="userVerification"> <i class="fas fa-check"></i> </div>
                </div>

                <div class="followers_and_followings">
                    <p>Followers <br> <span> {{ numFollowers }} </span> </p>
                    
                    <p>Following <br> <span> {{ numFollowing }} </span> </p>
                </div>

            </div>

        </div>


        <div class="area_shortcuts">

            <div class="area_titulo_shortcuts">
                <h2> Shortcuts </h2>
            </div>

            <ul>
                <li routerLink="/newsfeed"> <i class="fas fa-rss"></i> Newsfeed </li>
                <li (click)="goToConnectedUserPage()"> <i class="fas fa-user-alt"></i>  Profile  </li>
                <li routerLink="/world"> <i class="fas fa-globe-europe"></i>  World </li>
                <li *ngIf="isAdmin === '1'" routerLink="/admin-panel"> <i class="fas fa-user-shield"></i> Admin panel </li>
                <li routerLink="/settings"> <i class="fas fa-cog"></i>  Settings </li>
            </ul>

        </div>

    </section>
    

    <section class="area_posts">

        <article *ngIf="userWantsToPost" class="area_novo_post">

            <form [formGroup]="postForm" (ngSubmit)="createPost(postForm.value)">
                <label for="novoPostId"></label>
                <textarea 
                id="novoPostId" 
                placeholder="What are you up to?"
                required
                formControlName="post_content"
                >
                </textarea>

                <div class="area_botao_post">
                    <ul>                      
                        <button type="submit"> Post </button>
                    </ul>
                </div>
            </form>
            
        </article>

        <article *ngIf="userWantsToEdit" class="area_novo_post">
            
                <form [formGroup]="postForm" (ngSubmit)="editPost(postForm.value)">
                    <label for="novoPostId"></label>
                    <textarea
                    id="novoPostId"
                    [placeholder]="postContentToEdit"
                    formControlName="post_content"
                    ></textarea>
                    <div class="area_botao_post">
                        <ul>                      
                            <button type="submit"> Edit Post </button>
                        </ul>
                    </div>
                </form>
        </article>

        <article class="posts_carregados" *ngFor="let eachPost of allPostsArray">
            
            <div class="area_quem_postou">
                <div class="imagem_user_post">
                    <img *ngIf="eachPost.user_image" src="{{imagesPath + eachPost.user_image}}" alt="">
                    <img *ngIf="!eachPost.user_image" src="{{imagemDefault}}" alt="">
                </div>
                
                <div class="nome_user_post">
                    <h3 (click)="goToUserPage(eachPost.user_id)"> {{eachPost.first_name}} @{{eachPost.username}} {{eachPost.last_name}} </h3>
                    <span *ngIf="eachPost.is_verified === '1'"> <i class="fas fa-check"></i> </span>  

                </div>

                <div *ngIf="eachPost.user_id === connectedUserId" class="area_edit_delete">

                    <li routerLink="/post-detail/{{eachPost.post_id}}" title="Edit"> <i class="fas fa-edit"></i> </li>
                    
                    <li (click)="deletePost(eachPost.post_id)" title="Delete"> <i class="fas fa-trash"></i> </li>

                </div>
                
            </div>

            <div class="area_conteudo_desse_post">

                <div (click)="abrirPost(eachPost)" class="area_post_created">
                        <p> Posted {{eachPost.created_at | date: 'MMMM d, y, \'at\' h\'h\'mm'}} </p> 
                </div>

                <div (click)="abrirPost(eachPost)" class="area_content_post">
                    {{eachPost.content}}
                   
                </div>


            </div>

            <div class="area_likes_comments">
                <ul>

                    <li (click)="likePost(eachPost.post_id)">
                        <i *ngIf="eachPost.isLiked === false" class="far fa-heart"></i>
                        <i *ngIf="eachPost.isLiked === true" class="fas fa-heart"></i>
                        <span> {{eachPost.likesNumber}} </span>
                    </li>
                    
                    <li routerLink="/post-detail/{{eachPost.post_id}}"> 
                        <i *ngIf="eachPost.isCommented === false" class="far fa-comment"></i> 
                        <i *ngIf="eachPost.isCommented === true" class="fas fa-comment"></i> 
                        <span> {{eachPost.commentsNumber}} </span> 
                    </li>
                    
                </ul>

            </div>
            
        </article>
  
    </section>
    
    <section class="area_recent_activity_and_trendings">

        <div class="area_terms_conditions_privacy">
            <div class="atcp1">
                <p>Terms </p>
                <p>Privacy Policy</p>
                <p>Cookies Policy</p>
            </div>
            <div class="atcp2">
                <p>Copyright 2021 Loading Cinema</p>

            </div> 

        </div>

    </section>

</main>