<app-header> </app-header>

<main>

    <app-post-modal 
    *ngIf="postModalAberto"
    [postModal]="postModalAberto"
    [postInfo]="postLoaded"
    (closeModal)="fecharModal()"
    [postsArray]="allPostsArray"
    >
    </app-post-modal>
    
    <section class="area_perfil_shortcuts">

        <div class="area_perfil">
            <!-- área que vai ter o background e a imagem de perfil do user -->
            <div class="background_picture">
                <div class="area_background_pic">
                    <img src="{{ bootcamp }}" alt="">

                </div>

                <div class="area_profile_picture">
                    <!-- Esta imagem vai ter um routerLink para a página de perfil do utilizador -->
                    <img src="{{ imagemTeste }}" alt="">

                </div>

            </div>

            <div class="username_and_followers">

                <div class="name_and_username">
                    <p> {{firstName}} <span> {{username}} </span> {{lastName}} </p>
                        <div class="area_verified" *ngIf="userVerification"> <i class="fas fa-check"></i> </div>
                </div>

                <div class="followers_and_followings">
                    <p>Followers <br> <span> {{ numFollowers }} </span> </p>
                    
                    <p>Following <br> <span> {{ numFollowing }} </span> </p>
                </div>

            </div>

        </div>


        <div class="area_shortcuts">

            <div class="area_titulo_shortcuts">
                <h2> Shortcuts </h2>
            </div>

            <ul>
                <!-- Aqui vou ter que ter routerLinks para as respetivas páginas -->
                <li> <i class="fas fa-trophy"></i>  Newsfeed </li>
                <li> <i class="fas fa-user-alt"></i>  Profile  </li>
                <li> <i class="fas fa-globe-europe"></i>  World </li>
                <li> <i class="fas fa-users"></i>  My groups  </li>
                <li> <i class="fas fa-inbox"></i>  Messages  </li>
            </ul>

        </div>

    </section>
    

    <section class="area_posts">

        <article class="area_novo_post">

            <form>
                <textarea name="" id="" placeholder="What are you up to?"></textarea>
                <div class="area_botao_post">
                    <ul>                      
                        <button type="submit"> Post </button>
                    </ul>
                </div>
            </form>
            
        </article>

    
        <!-- Aqui vai ser um article em vez de div-->
        <article class="posts_carregados" *ngFor="let eachPost of allPostsArray">
            
            <div class="area_quem_postou">
                <div class="imagem_user_post">
                    <img src="{{imagemTeste}}" alt="">
                </div>
                
                <div class="nome_user_post">
                    <h3 (click)="goToUserPage(eachPost.user_id)"> {{eachPost.first_name}} @{{eachPost.username}} {{eachPost.last_name}} </h3>
                </div>
                
            </div>

            <div class="area_conteudo_desse_post">

                <div (click)="abrirPost(eachPost)" class="area_post_created">
                        <p> Posted {{eachPost.created_at | date: 'MMMM d, y, \'at\' h\'h\'mm'}} </p> 
                </div>

                <div class="area_content_post">
                    {{eachPost.content}}
                   
                </div>


            </div>

            <div class="area_likes_comments">
                <ul>

                    <li (click)="likePost(eachPost.post_id)">
                        <i class="fas fa-heart"></i>
                        <span> {{eachPost.likesNumber}} </span>
                    </li>
                    
                    <li (click)="abrirPost(eachPost)"> 
                        <i class="far fa-comment"></i> 
                        <span> {{eachPost.commentsNumber}} </span> 
                    </li>
                    <!-- Este li tb vai ter um routerLink para o post/:id do post-->
                </ul>

            </div>
            
        </article>
  
    </section>


    <section class="area_recent_activity_and_trendings">

        <div class="area_recent_activity">
            <div class="area_titulo_Ractivity">
                <h2> Recent Activity </h2>
            </div>

            <div class="area_recent_activity_posts">
                <!-- Perguntar ao Ivo como é que posso fazer aqui, quero ter os posts mais recentes/likes que utilizadores que eu sigo estão a fazer -->
            </div>

        </div>

        <div class="area_trending_tags">
            <div class="area_titulo_trending_tags">
                <h2> Trending / Tags </h2>
            </div>

            <div class="area_trending_tags_words">
                 <!-- Perguntar ao Ivo como é que posso fazer aqui, quero calcular trending words que estão a ser bastante utilizadas nos posts dos users -->
            </div>
        </div>

        <div class="area_terms_conditions_privacy">
            <div class="atcp1">
                <p>Terms </p>
                <p>Privacy Policy</p>
                <p>Cookies Policy</p>
            </div>
            <div class="atcp2">
                <p>Copyright 2021 Gamermotion</p>

            </div>
            

        </div>

    </section>

</main>