<main>
    <article class="posts_carregados" *ngFor="let eachPost of userPostsArray">

            <div class="area_quem_postou">
                <!-- Imagem do user que fez o post, firstname, username e last name , um *ngIf para mostrar se é verificado ou não   e a data do post que foi criado -->
                <div class="imagem_user_post">
                    <img src="{{imagemTeste}}" alt="">
                </div>
                
                <div class="nome_user_post">
                    <h3> {{eachPost.first_name}} @{{eachPost.username}} {{eachPost.last_name}}
                         </h3>
                    <div class="area_verified" *ngIf="userIsVerified"> <i class="fas fa-check"></i> </div>

                </div>
                
            </div>

            <div class="area_conteudo_desse_post">

                <div class="area_post_created">
                    <p> Posted {{eachPost.created_at | date: 'MMMM d, y, \'at\' h\'h\'mm'}} </p>  
                </div>

                <div class="area_content_post">
                    {{eachPost.content}}
                    
                </div>

            </div>

            <div class="area_likes_comments">
                <ul>

                    <li (click)="likePost(eachPost.post_id)">
                            <i class="fas fa-heart"></i>
                        <span> {{eachPost.likesNumber}} </span>
                    </li>
                    
                    <li> <i class="far fa-comment"></i> <span> 0 </span> </li>
                    <!-- Este li tb vai ter um routerLink para o post/:id do post-->
                </ul>

            </div>
            
        </article>



</main>

