@import 'var&mixin.scss';

main{
    height: auto;
    max-width: 1250px;
    margin: 15px auto;
    border-radius: 7px;


    section.areaTitulo{
        width: 50%;
        height: 150px;
        background-color: rgba(255, 255, 255, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
        margin: 15px auto;
        margin-top: -10px;
        border: 1px solid rgba(128, 128, 128, 0);

        h3{
            font-size: 1.5em;   
            float: left;
            font-family: $LDFont;
            font-weight: 500;
            margin-right: 8px;
        }
    }

    section.myMoviesList{
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 6px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-auto-rows: minmax(150px, auto);
        justify-items: center;

        article{
            width: calc(74% - 20px);
            min-width: 170px;
            height: 240px;
            margin: 18px 10px;
            border-radius: 7px;

            img{
                width: 100%;
                height: 240px;
                background-size: cover;
                border-radius: 7px;

                &:hover{
                    cursor: pointer;
                    transform: scale(1.08);
                    transition: ease-in 1;
                }
            }

        }

        
    }


    @include responsive (tablet) {
        font-size: 62.5%;

        section.myMoviesList{
            grid-template-columns: repeat(3, 33.33%);
            grid-auto-rows: minmax(150px, auto);
            transition: ease 1.1s;



            article{
                width: calc(45% - 20px);
                min-width: 170px;
                height: 290px;
                margin: 25px 10px;
                border-radius: 7px;
                font-size: 1.5em;
                transition: ease 1.1s;

            }
        }
     }

   
     @include responsive (mobile){
        font-size: 50.5%;

        section.myMoviesList{
            grid-template-columns: repeat(1, 100%);
            grid-auto-rows: minmax(150px, auto);
            transition: ease 1.1s;

            article{
                width: calc(25% - 20px);
                min-width: 170px;
                height: 330px;
                margin: 20px 10px;
                border-radius: 7px;
                font-size: 1.5em;
                transition: ease 1.1s;

            }
        }
    }  



    .lds-ring {
      @include ldsRing-settings
      }

      .lds-ring div {
        @include ldsRingDiv-Settings
      }
      .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
      }
      .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
      }
      .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
      }


      @keyframes lds-ring {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    
}
