<main>
    <article class="area_quem_postou">
        <!-- Imagem do user que fez o post, firstname, username e last name , um *ngIf para mostrar se é verificado ou não   e a data do post que foi criado -->
        <div class="imagem_user_post">
            <img src="{{imagemTeste}}" alt="">
        </div>
        
        <div class="nome_user_post">
            <h3> Pedro "@movieLover" Marques <span *ngIf="userIsVerified"> <i class="fas fa-check"></i> </span>  </h3>
        </div>
        
    </article>  

    <article class="area_quem_postou">
        <!-- Imagem do user que fez o post, firstname, username e last name , um *ngIf para mostrar se é verificado ou não   e a data do post que foi criado -->
        <div class="imagem_user_post">
            <img src="{{imagemTeste}}" alt="">
        </div>
        
        <div class="nome_user_post">
            <h3> Pedro "@movieLover" Marques <span *ngIf="userIsVerified"> <i class="fas fa-check"></i> </span>  </h3>
        </div>
        
    </article>  
</main>
