@import 'var&mixin.scss';


.background{
    width: 100vw;
    height: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.75);
    z-index: 50;
}

.alert-box{
    position: absolute;
    top: 7%; 
    left: 18.6vw;
    width: 60vw;
    padding: 16px;
    z-index: 100;
    border-radius: 7px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
    transition: width 0.1s;

    iframe{
        border-radius: 7px;
        width: calc(100% - 50px);
        float: left;
        margin: 0 25px;
    }

    
    .alert-box-options{
        text-align: right;

        button{
            font-size: 1.2em;
            border-radius: 7px;

            &:hover{
                cursor: pointer;
            }
        }
    }


    @include responsive (tablet){
        div.background{
            background: rgba(255, 255, 255, 0.75);
            display: none;
        }

        iframe{
            height: 200px;

        }

    }

    @include responsive (mobile){
        
    }

}