<main>

    <section class="area_logotipo">
        

        <div class="nome_da_redeSocial">
            Loading Cinema
        </div>

        <div class="slogan_da_redeSocial">
           <span> What drives your passion </span>
        </div>

    </section>

    <section class="area_formulario">
        
        <div class="area_div_formulario">
            <form [formGroup]="loginForm" (ngSubmit)="submitLogin(loginForm.value)">
                <div class="cadaForm">
                    <label for="emailId"> Email </label>
                    <input 
                    type="text" 
                    id="emailId"
                    formControlName="email"
                    required>
                </div>

                <div 
                class="formErrors"
                role="alert"
                *ngIf="loginForm.controls['email'].errors && loginForm.controls['email'].touched">
                <p *ngIf="loginForm.controls['email'].errors?.required"> Email is required </p>
                </div>

                <div class="cadaForm">
                    <label for="passwordId"> Password </label>
                    <input 
                    type="password" 
                    id="passwordId"
                    formControlName="password">
                </div>

                <div 
                class="formErrors"
                role="alert"
                *ngIf="loginForm.controls['password'].errors && loginForm.controls['password'].touched">
                <p *ngIf="loginForm.controls['password'].errors?.required"> Password is required </p>
                </div>

                <div>
                    <p *ngIf="errorMessage"> Incorrect Login</p>
                </div>

                <!-- Botão do type submit, disabled se os campos não forem todos válidos é o !ngForm.valid -->
                <div class="botao_submit">
                    <button type="submit" [disabled]="!loginForm.valid"> Login </button>

                </div>

                <div class="botao_submit">
                    <p> If you don't have an account, sign up now</p>
                    <!-- Routerlink para Register page -->
                    <button type="button" routerLink="/register"> Sign up</button>
                </div>

            </form>
            
        </div>

    </section>

   
</main>