<main>
    <section class="area_metricas">
        <article>
            <div>
                <h4> Users created </h4>
                <p> Total: {{usersCount}} </p>
            </div>
        </article>

        <article>
            <div>
                <h4> Posts made</h4>
                <p> Total: {{postsCount}} </p>
            </div>
        </article>

        <article>
            <div>
                <h4> Comments made </h4>
                <p> Total: {{commentsCount}} </p>
            </div>
        </article>

        <article>
            <div>
                <h4> Likes given </h4>
                <p> Total: {{likesCount}} </p>
            </div>
        </article>

        <article>
            <div>
                <h4> Admins number </h4>
                <p> Total: {{adminsCount}} </p>
            </div>
        </article>

        <article>
            <div>
                <h4> Mods number </h4>
                <p> Total: {{modsCount}} </p>
            </div>
        </article>
    </section>
</main>