<main>
    <div class="caixa_filters">

        <div class="area_formulario">
            <form>
                <div class="cadaForm">
                    <label for="searchId"> Search user </label>
                    <input id="searchId" type="text"
                    (keyup)="pesquisarUsername()"
                    #userNameAPesquisar>
                </div>
            </form>
            
        </div>

    </div>

    <article class="area_quem_postou" *ngFor="let eachUser of usersFoundArray">
        <!-- Imagem do user que fez o post, firstname, username e last name , um *ngIf para mostrar se é verificado ou não   e a data do post que foi criado -->
        <div class="imagem_user_post">
            <img *ngIf="eachUser.user_image" src="{{imagesPath + eachUser.user_image}}" alt="{{eachUser.username}}" title="{{eachUser.username}}">
            <img *ngIf="!eachUser.user_image" src="{{imagemDefault}}" alt="{{eachUser.username}}" title="{{eachUser.username}}">

        </div>
        
        <div class="nome_user_post">
            <h3> {{eachUser.first_name}} @{{eachUser.username}} {{eachUser.last_name}}
                 <span> <i class="fas fa-check"></i> </span> 
            </h3>
        </div>

        <div *ngIf="eachUser.user_id !== connectedUserId" class="area_makeAdmin_delete">
            <ul>
                <li *ngIf="eachUser.is_mod === '0'">
                    Mod
                    <input #makeUserAdmin (click)="makeModerator(eachUser.user_id)" type="checkbox">
                </li>

                <li *ngIf="eachUser.is_mod === '1'">
                    Mod
                    <input #removeAdmin (click)="makeModerator(eachUser.user_id)" type="checkbox" checked>

                </li>
                <li>Delete</li>
            </ul>
        </div>
        
    </article>  
    
    <!-- <article *ngIf="noUsersFound" class="no_users_found">
        <p> No users found </p>
    </article> -->
</main>
