@import 'var&mixin.scss';

main{
    width: 100%;
    // height: 250px;
    margin: 8px auto;
    display: block;


    div.confirmDeleteModal{
        position: absolute;
        width: 40vw;
        height: 30vh;
        left: 40vw;
        top: 15%; 
        padding: 16px;
        z-index: 100;
        border-radius: 7px;
        box-shadow: 0 2px 8px rgba(0,0,0,0.26);
        transition: width 0.7s;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;

        .confirmation_area{
            width: 80%;
            height: 150px;
            margin: 0 auto;

            h3{
                width: 100%;
                font-size: 22px;
                text-align: center;
            }

            .buttons_area{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                button{
                    margin:20px;
                    font-size: 20px;

                    &:hover{
                        cursor: pointer;
                    }
                }
            }

        }
    
    }

    .caixa_filters{
        width: 100%;
        height: 90px;

        div.area_formulario{
            width: 100%;
            height: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            form{
                font-family: 'Noto Sans', sans-serif;

                label{
                    margin-right: 10px;
                    font-size: 17px;
                }

                input{
                    width: 70%;
                    height: 23px;
                    border: 1;
                }
            }
            
        }
    }

    article.area_quem_postou{
        width: 80%;
        height: 100px;
        margin: 25px auto;
        background-color: #202020;
        display: flex;
        justify-content: left;
        align-items: center;
        border-radius: 5px;

        &:hover{
            cursor: pointer;
        }
    
        div.imagem_user_post{
            width: 10%;
            margin: 8px;
            overflow: hidden;
            display: flex;
            align-items: center;
    
            img{
               width: 100%;
               height: 75px;
               border-radius: 50%;
               object-fit: fill;
            //    border: 1px solid $themeColor;
            }
        }
    
        div.nome_user_post{
            width: 70%;
            height: 55px;
            text-align: center;
            // background-color: aquamarine;
    
            h3{
                color: white;
                font-size: 1.2em;
                font-weight: 500;
                margin-top: 12px;
                display: flex;
                align-items: center; 
    
                span{
                    margin-left: 5px;
                }
            }
        }

        div.area_makeAdmin_delete{
            width: 20%;
            height: 70px;

            ul{
                width: 100%;
                height: 70px;
                display: flex;
                justify-content: center;
                align-items: center;

                label{
                    color: white;
                    font-size: 17px;
                }

                input{
                    width: 50px;
                    height: 20px;
                }

                li{
                    margin-left: 25px;
                    color: white;
                    font-size: 17px;
                }
            }
        }
    }
}

.no_users_found{
    width: 80%;
    display: flex;
    justify-content: left;
    margin: 0 auto;
}



.background_shadow{
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.75);
    z-index: 50;
}