<main>

    <div (click)="openCloseModal()" [ngClass]="{background_shadow: openDeleteModal === true}"></div>

    <div *ngIf="openDeleteModal" class="confirmDeleteModal">
        <div class="confirmation_area">
            <h3>Are you sure you want to delete this user?</h3>
            <div class="buttons_area">
                <button (click)="deleteUser()"> Yes, I'm sure </button>
                <button (click)="openCloseModal()"> No </button>
            </div>

        </div>

    </div>

    <div class="caixa_filters">

        <div class="area_formulario">
            <form>
                <div class="cadaForm">
                    <label for="searchId"> Search user </label>
                    <input id="searchId" type="text"
                    (keyup)="pesquisarUsername()"
                    #userNameAPesquisar>
                </div>
            </form>
            
        </div>

    </div>

    <article class="area_quem_postou" *ngFor="let eachUser of usersFoundArray">
        <div class="imagem_user_post">
            <img *ngIf="eachUser.user_image" src="{{imagesPath + eachUser.user_image}}" alt="{{eachUser.username}}" title="{{eachUser.username}}">
            <img *ngIf="!eachUser.user_image" src="{{imagemDefault}}" alt="{{eachUser.username}}" title="{{eachUser.username}}">

        </div>
        
        <div class="nome_user_post">
            <h3> {{eachUser.first_name}} @{{eachUser.username}} {{eachUser.last_name}}
                <span *ngIf="eachUser.is_verified === '1'"> <i class="fas fa-check"></i> </span> 
            </h3>
        </div>

        <div *ngIf="eachUser.user_id !== connectedUserId" class="area_makeAdmin_delete">
            <ul>
                <label > Mod </label>
                <li *ngIf="eachUser.is_mod === '0'">
                    <input #makeUserAdmin (click)="makeModerator(eachUser.user_id)" type="checkbox">
                </li>

                <li *ngIf="eachUser.is_mod === '1'">
                    <input #makeUserAdmin (click)="makeModerator(eachUser.user_id)" type="checkbox" checked>
                </li>

                <li (click)="openCloseModal(eachUser.user_id)"> Delete user</li>
            </ul>
        </div>
        
    </article>  
    
    <article *ngIf="noUsersFound" class="no_users_found">
        <p> No users found </p>
    </article>
</main>
