<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<main>
    <app-trailer-modal *ngIf="modalAberto" [modalAberto]="modalAberto" (closeModal)="fecharModal()"> </app-trailer-modal>
                <!-- Tive de utilizar property binding juntamente com o Event Binding -->
                
    <div *ngIf="isLoading" class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

    <section *ngIf="!isLoading" class="imagemDoFilme">
        
        <div>
            <div class="arrow_zone">
                <span (click)="goToPreviousPage()"> <i class="fa fa-arrow-circle-left"></i> </span>
            </div>

            <img src="{{cadaMovie.image}}" alt="cadaMovie">
        </div>

        <div class="infoDoFilme"> 
          
            <h2> {{cadaMovie.title}} </h2>

             <p> Genre: {{cadaMovie.genre}} </p>
             <span> Release Date: {{cadaMovie.releaseDate}} </span>
             <p> Description: {{cadaMovie.description}} </p>

             <button (click)="marcarFavorito()">
                <span *ngIf="!cadaFilmeFavorito"> Add to List  </span>
                <span *ngIf="cadaFilmeFavorito"> Remove from list </span>
             </button>

             <button (click)="abrirModal()">
                Watch trailer
             </button>


        </div>
    
    </section>


<!--  SIMILAR MOVIES SECTION  -->
    <section *ngIf="!isLoading" class="similarMoviesSection">
        <h2> Similar Movies </h2>

        <div class="filmes_semelhantes">

            <article *ngFor="let cadaFilme of filmesSemelhantes">
                <img       
                 src="{{cadaFilme.image}}" 
                 alt="{{cadaFilme.title}}" 
                 title="{{cadaFilme.title}}"
                 
                 (click)="vaiParaOFilmeSimilar(cadaFilme.id)">
            </article>

        </div>
        
    </section>
<!--  SIMILAR MOVIES SECTION  -->




<!--  COMMENTS SECTION  -->
    <section *ngIf="!isLoading" class="comments_section">

        <h2> Comments Section </h2>

        <form (ngSubmit)="newComment()" #dadosEnviados="ngForm">

            <div class="infoDoUser">
                <img src="{{myProfileImage}}" alt="{{myProfileName}}">
                <h4>
                    {{ myProfileName}}
                </h4>       
            </div>

            <div class="area_comment_title">
                 <label for="tituloComentario"> Comment title: </label>
                <input
                id="tituloComentario"
                minlength="3"
                maxlength="30"
                type="text" 
                name="commentTitle"
                ngModel
                #comentarioTitulo="ngModel"
                required> 

                <div *ngIf="!comentarioTitulo.valid && comentarioTitulo.touched">
                    <p role="alert" *ngIf="comentarioTitulo.errors.required"> This field is required </p>
                    <p role="alert" *ngIf="comentarioTitulo.errors.minlength || comentarioTitulo.errors.maxlength"> This field must be between 3 and 30 characters long  </p>
                </div>
            </div>

            <label for="descricaoComentario"></label>
            <textarea
            id="descricaoComentario"
            rows="5"
            minlength="10" 
            maxlength="250" 
            placeholder="Write something"
            name="commentBody" 
            ngModel
            #corpoComentario="ngModel"
            required></textarea>

            <div *ngIf="!corpoComentario.valid && corpoComentario.touched">
                <p role="alert" *ngIf="corpoComentario.errors.required"> This field is required </p>
                <p role="alert" *ngIf="corpoComentario.errors.minlength || corpoComentario.errors.maxlength"> This field must be at least 10 characters long </p>
            </div>

            <button type="submit" [disabled]="dadosEnviados.invalid">
                Post
            </button>
        </form>


        <article *ngFor="let cadaComentario of comentariosEspecificos; index as i">
            <div class="profile_pic">
                <img src="{{cadaComentario.profileImage}}" alt="{{cadaComentario.profileImage}}" title="{{cadaComentario.profileName}}">

                <span> {{cadaComentario.profileName}} </span>
            </div>


            <div class="profile_comment">
                <h4> {{cadaComentario.title}} </h4>
                <p> {{cadaComentario.body}} </p>
                <span> {{cadaComentario.likesNumber}} </span>

                <button class="deleteButton" type="button" (click)="apagarComentario(i)">
                    Delete
                </button>

                <button type="button" (click)="daLike(i)">
                    <span *ngIf="comentariosEspecificos[i].likesNumber === 0"> Like </span>
                    <span *ngIf="comentariosEspecificos[i].likesNumber === 1"> Dislike </span>
                </button>

            </div>

        </article>

    </section>
<!--  COMMENTS SECTION  -->

</main>