@import 'var&mixin.scss';

main{
    width: 100%;
    height: 300px;
    background: white;
    position: absolute;
    top: 100%;
    bottom: 0;
    float: left;
    
    section{
        max-width: 1150px;
        margin: 20px auto;

        article.made_with_by{
            width: 70%;
            height: 260px;
            margin: 0 auto;


            div.area_social_icons{
                width: 72%;
                height: 60px;
                background: rgb(128, 128, 128);
                position: relative;
                border-radius: 5px;
                top: 6%;
                margin: 0 auto;

                ul{
                width: 90%;
                height: 60px;
                margin: 0 auto;
                display: flex;
                justify-content: space-around;
                align-items: center;

                    i{
                        font-size: 2.3em;

                        &:hover{
                            transform: scale(1.15);
                        }
                    }

                    .fa-github{
                        color: #333; 
                    }

                    .fa-linkedin{
                        color: #0072b1;
                    }

                    .fa-envelope{
                        color: #BB001B;
                    }

                }
            }

            
            div.area_developer{
                width: 78%;
                height: 120px;
                position: relative;
                border-radius: 5px;
                top: 6%;
                margin: 0 auto;
                margin-top: 12px;
                

                h2{
                    text-align: center;
                    font-size: 1.5em;
                    padding-bottom: 7px;
                    font-weight: 600;
                }

                .area_quote{
                    width: 90%;
                    border-radius: 5px;
                    margin: 0 auto;

                    p{
                        text-align: center;
                        font-size: 1.2em;
                        font-weight: 500;
                        margin-bottom: 10px;

                        
                        img{
                            max-width: 40px;
                        }

                    }

                }

                .area_copyright{
                    width: 90%;
                    border-radius: 5px;
                    margin: 0 auto;
                    text-align: center;

                    p{
                        padding-top: 10px;
                        margin-bottom: -8px;
                    }
                }
               
            }
        }
    }

    @include responsive (tablet){
        font-size: 70.5%;

        img{
            max-width: 30px;
        }
        
    }


    @include responsive (mobile){

        div.area_developer{
            font-size: 80.5%;
        }

    }

}