<main>

    <section>

        <article class="made_with_by">

            <div class="area_social_icons">
                <ul>
                    <li alt="github" title="Github"> <a href="https://github.com/PedrodashfMarques" target="blank"> <i class="fa fa-github"></i> </a> </li>

                    <li alt="linkedin" title="linkedin"> <a href="https://www.linkedin.com/in/pedro-marques-548039145/" target="blank"> <i class="fa fa-linkedin"></i> </a> </li>

                    <li alt="send email" title="Send email"> <a href="https://mail.google.com/mail/?view=cm&fs=1&to=pedromarques119@gmail.com" target="blank"> <i class="fa fa-envelope"></i> </a> </li>
                </ul>
            </div>
            
            <div class="area_developer">
                <h2> Pedro Marques </h2>
                
                <div class="area_quote">
            
                    <p>"I find that the harder I work, the more luck I seem to have." </p>

                    <p> Full Stack Web Developer </p>

                    <div class="area_copyright">

                        <p> @Copyright 2021. </p>
                        
                        All rights reserved. Powered by
                        <a href="https://angular.io/" target="blank">
                        <img alt="Angular" title="Angular" src="https://img.icons8.com/color/48/000000/angularjs.png"/>
                        </a>
                    </div>
                  
                </div>
    
            </div>

        </article>
     
    </section>
</main>