<app-header> </app-header>


<main>

    <section class="form_area"> 

        <div class="area_div_formulario">

            <form [formGroup]="userInformationForm" (ngSubmit)="updateUserInformation(userInformationForm)">

                <div class="cadaForm">
                    <label for="smallBio"> Short Bio </label>
                    <input
                    type="text" 
                    id="smallBio"
                    required
                    formControlName="smallBio"
                    maxlength="25"
                    >
                </div>

                <div class="cadaForm">
                    <label for="bigBio"> Big Bio </label>
                    <textarea  
                    id="bigBio"
                    placeholder="Placeholder memo"
                    formControlName="bigBio"
                    maxlength="1000"
                    >
                    </textarea>
                </div>

                <div class="cadaForm">
                    <!-- <label>
                        <p> Current Location: {{userLocation}} </p>
                    </label> -->

                    <label for="locationId"> Location </label>
                        <select 
                        type="text" 
                        id="locationId"
                        required
                        formControlName="location">
                        <option *ngFor="let eachCountry of allCountriesArray"> {{eachCountry.nicename}} </option>
                        </select>
                </div>

                <div class="cadaForm">
                    <label for="categoryId"> Category </label>
                        <select 
                        type="text" 
                        id="categoryId"
                        required
                        formControlName="category">
                        <option *ngFor="let eachCategory of allCategoriesArray"> {{eachCategory.name}} </option>
                        </select>
                </div>

                <div class="cadaForm">
                    <label for="userImageId"> Profile Image </label>
                        <input 
                        type="file"
                        (change)="imageUpload($event.target.files)"
                        id="userImageId"
                        required
                        formControlName="userImage">
                </div>

                <div class="cadaForm">
                    <label for="bgUserImageId"> Background Image </label>
                        <input
                        type="file"
                        id="bgUserImageId"
                        required
                        formControlName="bgUserImage">
                </div>
                <!-- Botão do type submit, disabled se os campos não forem todos válidos é o !ngForm.valid -->
                
                <div class="botao_submit">
                    <button type="submit"> Update my information </button>

                </div>

            </form>
            
        </div>


    </section>
  

</main>