<app-header> </app-header>


<main>

    <section class="form_area"> 

        <div class="area_div_formulario">

            <form [formGroup]="userInformationForm" (ngSubmit)="updateUserInformation(userInformationForm)">

                <div class="cadaForm">
                    <label for="smallBio"> Short Bio </label>
                    <input
                    type="text" 
                    id="smallBio"
                    required
                    formControlName="smallBio"
                    maxlength="25"
                    >
                </div>

                <div class="cadaForm">
                    <label for="bigBio"> Big Bio </label>
                    <textarea  
                    id="bigBio"
                    placeholder="Placeholder memo"
                    formControlName="bigBio"
                    maxlength="1000"
                    >
                    </textarea>
                </div>

                <div class="cadaForm">
                    <label>
                        <p> Current Location: {{userLocation}} </p>
                    </label>


                    <label for="locationId"> Location </label>
                        <select 
                        type="text" 
                        id="locationId"
                        required
                        formControlName="location">
                        <option *ngFor="let eachCountry of allCountriesArray"> {{eachCountry.nicename}} </option>
                        </select>
                </div>

                <div class="cadaForm">
                    <label for="categoryId"> Category </label>
                        <select 
                        type="text" 
                        id="categoryId"
                        required
                        formControlName="category">
                        <option *ngFor="let eachCategory of allCategoriesArray"> {{eachCategory.name}} </option>
                        </select>
                </div>

                <div class="profile_background_images_area">
                    <div>
                        <label for="userImageId"> Profile Image </label>
                               
                        <div class="area_imagem">
                            <img *ngIf="userProfileImage" src="{{imagesPath + userProfileImage}}">
                            <p *ngIf="!userProfileImage">
                                No image to display
                            </p>
                        </div>

                        <input 
                        type="file"
                        (change)="profileImageUpload($event.target.files)"
                        id="userImageId"
                        required
                        formControlName="userImage">
                    </div>

                    <div>
                        <label for="bgUserImageId"> Background Image </label>

                        <div class="area_imagem_background" >
                            <img *ngIf="userBackgroundImage" src="{{imagesPath + userBackgroundImage}}">
                            <p *ngIf="!userBackgroundImage">
                                No image to display
                            </p>
                        </div>

                    
                        <input
                        type="file"
                        (change)="backgroundImageUpload($event.target.files)"
                        id="bgUserImageId"
                        required
                        formControlName="bgUserImage">
                    </div>

                    
                </div>

                <!-- Botão do type submit, disabled se os campos não forem todos válidos é o !ngForm.valid -->
                
                <div class="botao_submit">
                    <button type="submit"> Update my information </button>
                    <p *ngIf="successMessage">
                        User information updated!
                    </p>

                    <p *ngIf="errorMessage">
                        All fields are required!
                    </p>

                </div>

            </form>
            
        </div>


    </section>
  

</main>