<main>

    <section class="overview">
        <div class="asagUsers">

            <article class="area_follower">
                <div class="imagem_user_following">
                    <img src="" alt="">
                </div>

                
                <div class="nome_user_following">
                    <h3> Pedro "@movieLover" Marques <span> <i class="fas fa-check"></i> </span>  </h3>
                </div>
                
            </article>  

        </div>

    </section>

</main>