<main>

    <section class="overview" *ngFor="let eachFollowing of followingUsersArray">

        <article class="area_following" (click)="goToFollowingUserPage(eachFollowing.user_followed)">
            <div class="imagem_user_following">
                <img src="{{imagemTeste}}" alt="">
            </div>

            
            <div class="nome_user_followed">
                <h3> {{eachFollowing.first_name}} @{{eachFollowing.username}} {{eachFollowing.last_name}} </h3>
            </div>
            
        </article>
    
    </section>

    <article class="noFollowing" *ngIf="followingUsersArray.length <= 0">
        <h4> No Users to display </h4>
    </article>

</main>