@import 'var&mixin.scss';

main{
    max-width: 1725px;
    // width: 90%;
    margin: 0 auto;
    // background: rgb(166, 202, 166);
    display: flex;
    font-family: $LDFont;

    section.area_logotipo{
        width: 60%;
        height: 100vh;
        background: white;

        div.nome_da_redeSocial{
            width: 50%;
            // height: 70px;
            position: relative;
            top: 26%;
            margin: 15px auto;
            color: #1D3B3E;
            font-family: $LDFont;
            text-align: center;
            font-size: 3.5em;

        }

        div.slogan_da_redeSocial{
            width: 50%;
            height: 50px;
            position: relative;
            top: 25%;
            left: 23%;
            margin: 15px auto;
            color: #202020; 
            float: left;
            font-family: $LDFont;
            font-size: 1.6em;
        }
    }
    
    section.area_formulario{
        width: 40%;
        background: #202020;
        float: left;
        font-family: $LDFont;
        display: flex;
        align-items: center;
        // justify-content: center;

        div.area_div_formulario{
            width: 93%;
            margin: 30px auto;
            
            form{
                width: 93%;
                margin: 0 auto;
                // height: 700px;
                background: #dbdada;
                // display: flex;
                padding-top: 3px;
                position: relative;
                border-radius: 10px;


                div.cadaForm{
                    width: 80%;
                    // background: green;
                    margin: 22px auto;
                    color: #202020; 

                    .formErrors{
                        width: 90%;
                        margin: 10px auto;
                    }

                    label{
                        width: 100%;
                        float: left;
                        margin: 12px 0px 12px 30px;
                    }
                    
                    input{
                        width: 90%;
                        height: 25px;
                        margin: auto;
                        display: block;
                        border-radius: 2px;
                        border: 0;
                    }
                
                }

                div.botao_submit{
                    width: 100%;
                    margin: 20px auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p{
                        margin-right: 20px;
                        color: #202020; 
                        
                    }

                    button{
                        // width: 12%;
                        height: 34px;
                        font-size: 1.1em;

                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
       
            }

        }
        
        
    }

}

.error_area{
    width: 100%;
    margin: 0 auto;
    color: rgb(155, 57, 38);
}

.success_area{
    width: 100%;
    margin: 0 auto;
    color: rgb(44, 85, 36);
}